* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
  }

#evailable-coffee {
  background-color: #ccc2a1;
  border: "2";
}

.espresso {
  background-color: #edae4a;
}

fieldset {
  background-color: #b1dce4;
}

legend {
  background-color: rgb(123, 166, 181);
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}
