.article-1 {
  color: #22333b;
  background-color: #f2f4f3;
}

a {
  text-decoration: none;
  color: #f2f4f3;
  font-family: "Archivo Black", sans-serif;
}

.position-stiky {
  position: sticky;
  top: 0;
}

/* Header styling */
.header__title {
  font-size: 2rem;
}

.pre-header {
  padding-bottom: 100px;
}

.blog__title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 2.5rem;
}

/* Main blog styling */
.article-1 {
  color: #22333b;
  margin: 0px 76px 0px 64px;
}

.article-1__title {
  margin: 20px;
  font-size: 2rem;
  text-align: center;
}

.article-1__second-title {
  text-align: center;
  font-size: 1.3rem;
}

.container-flex-a1 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container__main p {
  text-indent: 5%;
}

.container-flex__left p {
  margin-inline: 32px;
  text-align: start;
  line-height: 50px;
  font-size: 150%;
  color: #22333b;
}

.container-flex__right-img {
  width: 30%;
}

.flex-container__nav {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  background-color: #826c94;
  min-height: 60%;
  width: 100%;
  position: sticky;
  top: 0;
}

.flex-container__element {
  max-width: 180px;
  max-height: 150px;
  background-color: #917da1;
  margin: 20px;
  padding: 30px 20px 30px 5px;
  border-left: 2px solid #f2f4f3;
}

/* Color flex-element on hover */
.flex-container__element:hover {
  background-color: #22333b;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.7s;
  box-shadow: 0px 9px 30px 0px rgba(191, 163, 215, 1);
}

.flex-container__main {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  color: #22333b;
}

.box-align-start {
  align-self: flex-start;
}

.box-align-end {
  align-self: flex-end;
}

.flex-item {
  width: 50vw;
  height: min-content;
  padding: 40px 20px 50px 40px;
  margin: 30px 0px;
  background-color: #917da1;
  border-radius: 10px;
}

.flex-item h5 {
  margin-left: 20px;
  padding: 40px 0px;
  font-size: 1.5rem;
  color: #22333b;
  text-align: center;
}

.flex-item p {
  font-size: 1.2rem;
  text-align: start;
  text-indent: 15px;
}

.flex-item:hover {
  cursor: pointer;
  transition-duration: 0.7s;
  box-shadow: 0px 9px 30px 0px rgba(191, 163, 215, 1);
}

.flex-end {
  align-self: flex-end;
}

.article-1-list__item {
  margin: 10px 40px;
  list-style: inside;
  line-height: 25px;
}

.article-1__question {
  width: 100%;
  text-align: center;
  color: #22333b;
  font-weight: 700;
}

.article-1__video {
  width: 560px;
  height: 315px;
  margin: auto;
  display: block;
  padding: 30px;
}
