.article-1 {
  color: #22333b;
  background-color: #f2f4f3;
}

/* Header styling */
h1 {
  font-size: 2rem;
}

.pre-header {
  padding-bottom: 100px;
}

h2 {
  padding-bottom: 50px;
  text-align: center;
  font-size: 2.5rem;
}

/* Main blog styling */
.article-1 {
  color: #22333b;
  margin: 0px 76px 0px 64px;
}

.article-1 h3 {
  margin: 20px;
  font-size: 2rem;
  /* color: #22333b; */
}

.article-1 h4 {
  text-align: center;
  font-size: 1.3rem;
  /* color: #22333b; */
}

.container-flex-a1 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main p {
  text-indent: 5%;
}

.container-left p {
  margin-inline: 32px;
  text-align: start;
  line-height: 50px;
  font-size: 150%;
  color: #22333b;
}

.container-main {
  color: #22333b;
}

.container-main h5 {
  margin-left: 20px;
  padding: 10px 0px;
  font-size: 1.5rem;
}

.container-main p {
  margin-left: 20px;
  padding: 10px 0px;
  text-align: start;
  font-size: 1.2rem;
}

.article-1-list li {
  margin: 10px 40px;
  list-style: inside;
  line-height: 25px;
}

.article-1-question {
  width: 100%;
  text-align: center;
  color: #22333b;
  font-weight: 700;
}

iframe.video-article-1 {
  width: 560px;
  height: 315px;
  margin: auto;
  display: block;
  padding: 30px;
}
