/* header styling */
.header__title {
  font-size: 2rem;
}

.pre-header {
  padding-bottom: 100px;
}

/* main stylin */
.main-policy__title {
  padding: 30px;
  text-align: center;
  font-size: 32px;
}

.text-uppercase {
  text-transform: uppercase;
}

.main-policy {
  margin: 0px 260px 50px 260px;
}

.main-policy__title-second {
  padding-bottom: 25px;
  text-align: left;
  font-size: 28px;
}

.main-policy__title-h4 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.main-policy p {
  padding-bottom: 15px;
  text-align: left;
}

.main-policy__list-item {
  padding-bottom: 10px;
  list-style: inside;
}
