@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #22333b;
  background-color: #f2f4f3;
  font-family: "Open Sans", sans-serif;
}

hr {
  color: #826c94;
}

/* Styling all main buttons on hover */
.main-button:hover {
  color: #f2f4f3;
  background-color: #826c94;
  border-radius: 30px;
  box-shadow: 1px 3px 0px rgb(139, 113, 255);
}

header {
  background-image: linear-gradient(to right, #826c94 30%, #ffab44);
  background-size: 100%;
  background-repeat: repeat;
}

header h1,
p {
  text-align: center;
}

button.main-nav {
  margin-top: 1rem;
  padding: 5x;
}

input:focus {
  background: #22333b;
  color: #f2f4f3;
}

/* Mainu nav styling */
.main-nav li,
div {
  color: #f2f4f3;
  display: inline-block;
  margin-top: 32px;
  margin-left: 16px;
}

.main-nav a {
  padding: 12px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Archivo Black", sans-serif;
  color: inherit;
}

/* Change the color of links on hover */
.main-nav a:hover {
  background-color: #f2f4f3;
  color: #22333b;
}

/* Search form */
.search form,
button {
  display: inline;
  cursor: pointer;
}

.search {
  float: right;
  margin-right: 32px;
  margin-top: 16px;
}

.search input,
button {
  height: 42px;
  border: 1.5px solid #826c94;
}

.search input {
  width: 200px;
}

.search button {
  width: 50px;
  margin-left: -5px;
  background: #edae4a;
}

.search button:hover {
  background-color: #826c94;
}

h1 {
  margin-top: 200px;
  font-family: "Archivo Black", sans-serif;
  font-size: 6rem;
  margin-bottom: 0;
  color: #22333b;
}

.pre-header {
  padding-bottom: 180px;
  color: #22333b;
}

section {
  background-color: #22333b;
  color: #f2f4f3;
}

img.coffee-mashine {
  width: 100%;
  height: auto;
}

article .description-header {
  text-align: center;
  font-size: 40px;
  color: #f2f4f3;
  padding-bottom: 16px;
}

article .description {
  text-align: center;
  line-height: 25px;
  padding-bottom: 64px;
  margin: 0px 32px;
}

[href="#sbscr-form"] {
  color: #edae4a;
  text-decoration: none;
}

/* Styling all h2 */
.goods-header,
.events-header,
.find-header {
  margin-left: 64px;
  padding: 25px 0px 25px 0px;
  text-align: left;
  font-size: 2rem;
}

/* Coffe card styling */

.coffe-card {
  width: 30%;
  background-color: #f2f4f3;
  border-radius: 30px;
  display: inline-block;
  margin: 10px 8px;
}

.coffe-card:hover {
  box-shadow: 0px 9px 30px 0px rgba(191, 163, 215, 1);
  transition-duration: 0.7s;
}

.p-image img {
  width: 80%;
  margin: 0px 20px;
  border-radius: 0;
}

.card-coffee-list .p-info {
  margin: 16px 0px 8px 40px;
  line-height: 32px;
}

/* Coffee name and links to pages */
.p-info a {
  color: #826c94;
}

.p-info a:link {
  text-decoration: none;
}

.p-info p {
  color: #22333b;
  width: 100%;
  text-align: start;
}

.p-info a:hover {
  color: #22333b;
}

.p-info button {
  width: 180px;
  height: 40px;
  border: none;
  background-color: #22333b;
  color: #f2f4f3;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(139, 113, 255);
  transition-duration: 0.7s;
  font-size: large;
}

.coffee-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.coffee-nav a {
  color: #22333b;
  background-color: #f2f4f3;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
  margin: 20px 0px 40px;
  border: 2px solid #22333b;
  transition-duration: 0.7s;
}

/* Subscription form styling */

#subscribe {
  background-color: #f2f4f3;
  width: 100%;
  padding: 30px;
  display: block;
  justify-content: center;
  text-align: center;
}

.sub-header h4 {
  color: #22333b;
  font-size: 32px;
}

.sub-header p {
  color: #22333b;
  padding: 15px;
}

#subscribe div {
  display: block;
}

.form-control {
  position: relative;
  margin: 30px 0 20px;
}

.form-control input {
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  height: 42px;
  padding: 12px 24px;
  width: 60%;
}

.form-control button {
  background-color: #22333b;
  border: 0;
  border-radius: 50px;
  color: #f2f4f3;
  font-size: 14px;
  height: 42px;
  padding: 12px 24px;
  position: sticky;
  top: 0;
  right: 0;
}

.svg-cup {
  font-size: 100px;
  margin: 30px;
  color: #22333b;
}

.svg-cup i:hover {
  color: #edae4a;
  transition-duration: 0.7s;
}

/* Blog styling */
#blog h3 {
  width: 100vw;
  text-align: center;
  padding-top: 50px;
  font-family: "Archivo Black", sans-serif;
}

.link-a1 a:link {
  text-decoration: none;
  padding: 8px;
  line-height: 40px;
}

.link-a1 {
  margin: 0;
}

.link-a1 a {
  color: #22333b;
  background-color: #826c94;
}

.link-a1 a:hover {
  color: #22333b;
  background-color: #f2f4f3;
}

.container-a1-left hr {
  margin-top: 5px;
}

.container-a1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.container-a1 .container-a1-left {
  margin: 0px 64px;
  line-height: 25px;
}

.container-a1-left p {
  text-align: left;
}

.img-article-1 {
  width: 30vw;
  height: auto;
  margin-inline-end: 32px;
  margin-bottom: 16px;
}

/* Where to find styling */

/* Footer styling */
footer {
  background-image: linear-gradient(to right, #826c94 30%, #ffab44);
  background-size: 100%;
}

.flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: -10px;
}

.flex-footer p {
  text-transform: uppercase;
}

.footer-link a {
  text-decoration: none;
  color: #f2f4f3;
  font-family: "Archivo Black", sans-serif;
  cursor: pointer;
}
.footer-link a:hover {
  color: #edae4a;
}

.last-footer {
  text-align: center;
  width: 100vw;
}
